# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/
staticfiles/
*.sqlite3

# If using PostgreSQL
*.pgdata

# Ignore the .env file with environment variables
.env

# Django Migrations
*/migrations/*.py
!*/migrations/__init__.py

# Pytest cache
.pytest_cache/
.tox/
.coverage
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
compiled/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
venv/
ENV/
env/
venv.bak/
venv.bak/
.venv/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
